.homePageWrapper{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.formWrapper{
  background: #161B22;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

footer{
  position: fixed;
  bottom: 0;
}

footer a{
  color: #7ED957;
  text-decoration: none;
}

footer h4{
  font-weight:400;
}

.inputGroup{
  display: flex;
  flex-direction: column;
}

.mainLabel{
  margin-bottom: 20px;
  margin-top: 0;
}

.homePageLogo{
  height: 60px;
  margin-bottom: 10px;
}

.inputBox{
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 15px;
  background: #eee;
  font-size: 14px;
  font-weight: bold;
}

.btn{
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  margin-top: 20px;
}

.joinBtn{
  background: #7ED957;
  width: 100px;
  margin-left: auto;
  font-size: 15px;
  font-weight: 700;
}

.joinBtn:hover,.leaveBtn:hover{
  background: #71ff35;
}

.createInfo{
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn{
  color: #7ED957;
  text-decoration: none;
  border-bottom: 1px solid #7ED957;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover,footer a:hover{
  color: #71ff35;
  border-color: #71ff35;
}

.mainWrap{
  display: grid;
  grid-template-columns: 230px 1fr;
  /* height: 100vh; */
}

.aside{
  background: #161B22;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.asideInner{
  flex: 1;
}

.clientsList{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.username{
  margin-top: 10px;
}

.logo{
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}

.logoImage{
  height: 50px;
}

.leaveBtn{
  width: 100%;
  background: #7ED957;
  font-size: 15px;
}

.dropdown{
  border: none;
  background: #eee;
  outline: none;
}

.CodeMirror{
  min-height: calc(100vh - 20px);
  font-size: 15px;
  line-height: 1.6;
  padding-top: 20px;
}